{% extends 'blog/base.html' %}

{% block title %}Поделиться{% endblock %}

{% block content %}
    {% if sent %}
        <h1>Письмо успешно отправлено</h1>
        <p>"{{ post.title }}" было успешно отправлено на почту {{ form.cleaned_data.to }}</p>
    {% else %}
        <h1>Отправка новости "{{ post.title }}" через почту</h1>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Отправить">
        </form>
    {% endif %}
{% endblock %}

